body{
	padding: 25px;
	background-color:#ffffff;
	font-family: Roberto;
}

.title-box {
	width: 80%;
	height: 50px;
	background-color: #ffffbf;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1500px;
	min-width: 400px;
}

.Menu { 
	width: 80%;
	height: 20px;
	background-color: #f78da7;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1500px;
	min-width: 400px;
}

.inline {
	display: inline-block;
	padding: 10px;
}
